@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Scroll bar stylings */
::-webkit-scrollbar {
  width: 6px;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background: #eaecf0;
  border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #eaecf0;
  border-radius: 32px;
}
